{% extends 'base.html' %}
{% load static%}

{% block content %}
    
<div class="container" style="margin-top: 50px; text-align:center">
    <i class="fa fa-times-circle" style="font-size: 72px;margin-bottom: 20px;color: red;"></i>
    <h2 class="text-center">Payment Cancelled</h2>
    <br>
    <div class="text-center">
		<a href="{% url 'checkout' %}" class="btn btn-info">Proceed to checkout</a>
	</div>
	<br>
	<div class="text-center">
		<a href="{% url 'store' %}" class="btn btn-info">Shop more</a>
	</div>
</div>

{% endblock content %}